<ul>
  <% if ::Refinery::Artists::Admin::ArtistsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.artists_admin_artists_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_artists_admin_artist_path,
                 :class => "add_icon" %>
  </li>
<% if !searching? && ::Refinery::Artists::Admin::ArtistsController.sortable? && ::Refinery::Artists::Artist.any? %>
  <li>
    <%= link_to t('.reorder', :what => "Artists"),
                 refinery.artists_admin_artists_path,
                 :id => "reorder_action",
                 :class => "reorder_icon" %>

    <%= link_to t('.reorder_done', :what => "Artists"),
                 refinery.artists_admin_artists_path,
                 :id => "reorder_action_done",
                 :style => "display: none;",
                 :class => "reorder_icon" %>
  </li>
<% end %>
</ul>
